@import 'tailwindcss';

@font-face {
    font-family: 'PPMontreal';
    src: url('/fonts/ppmontreal-book.woff') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPMontreal';
    src: url('/fonts/ppmontreal-medium.woff') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    background: #0a0a0a;
    color: #ededed;
    font-family: 'PPMontreal', sans-serif;
    font-weight: 400;
}

.font-pp-montreal {
    font-family: 'PPMontreal', sans-serif;
}

.font-roboto-mono {
    font-family: var(--font-roboto-mono), monospace;
}
